<div class="container-fluid background-class">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto disabled" href="#">Welcome to HR platform </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <div>
                    <li class="nav-item">

                        <a class="nav-link"  (click)="showProfile()">Profile</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a class="nav-link">Back</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <div>
        <ul class="nav flex-column bg-dark" style="width: 20%;color: azure;float:left;">
            <li class="nav-item">
                <button class="link" (click)="newCandidate()"> New job candidate </button>
            </li>
            <li class="nav-item">
                <button class="link" (click)="listOfCandidates()"> List of candidates </button>
            </li>
            <li class="nav-item">
                <button class="link" (click)="newSkill()"> Add new skill </button>
            </li>
            <li class="nav-item">
                <button class="link" (click)="listOfSkills()"> List of skills </button>
            </li>
        </ul>
    </div>
    <app-candidates-list *ngIf="showCandidates" [candidates] = "_allCandidates" ></app-candidates-list>

</div>